# <b>Using the tax calculator</b>

Import the tax calculator

In [25]:
from tax_calculator import tax_calculator

## <b>Processing Transactions</b>

Apply the tax calculator to the list of subtotals below.

In [26]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.98, 599.99]

full_transactions = []

for subtotal in subtotals:
    full_transactions.append(tax_calculator(subtotal))

full_transactions

[[15.98, 0.96, 16.94],
 [899.97, 54.0, 953.97],
 [799.97, 48.0, 847.97],
 [117.96, 7.08, 125.04],
 [5.98, 0.36, 6.34],
 [599.99, 36.0, 635.99]]

## <b>Transaction Dictionary</b>

Combine the transactoins with the customer_ids below into a dictionary

The customer_ids will be keys, and the transactions will be the values

In [27]:
customer_ids = ['C00004', 'C00007', 'C00015', 'C00016', 'C00020', 'C00010']

customer_dict = dict(zip(customer_ids, full_transactions))

customer_dict

{'C00004': [15.98, 0.96, 16.94],
 'C00007': [899.97, 54.0, 953.97],
 'C00015': [799.97, 48.0, 847.97],
 'C00016': [117.96, 7.08, 125.04],
 'C00020': [5.98, 0.36, 6.34],
 'C00010': [599.99, 36.0, 635.99]}