## <b>Black Friday Customers</b>

- Return 99.99 if customer C00009 made a purchase, otherwise return 0.0
- Create seperate lists for the 5th adn 6th custoemr, every third customer, and the last 2 customers, we're conducting market research

### <b>List of customers that made purchases on Black Friday</b>

The customers that made purchases on Black Friday were:

C00001, C00003, C00004, C00005, C00006, C00007, C00018, C00010, C00013, C00014, C00015, C00016, C00029

In [23]:
customer_list = [
                 'C00001', 'C00003', 'C00004', 'C00005', 'C00006',
                 'C00007', 'C00018', 'C00010', 'C00013', 'C00014',
                 'C00015', 'C00016', 'C00029'
                ]

In [24]:
customer_list

['C00001',
 'C00003',
 'C00004',
 'C00005',
 'C00006',
 'C00007',
 'C00018',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00029']

### <b>Did C00009 make a purchase</b>

This customer said they made a purchase we're not seeing it inour data. If they did, we need to record the revenue.

In [22]:
('C00009' in customer_list) * 99.99

0.0

### <b>Market Research Samples</b>

1. Contain the fifth and sixth customer and name the list `fifth_sixth`

In [27]:
# fifth_sixth = [customer_list[4], customer_list[5]]

# or

fifth_sixth = customer_list[4:6]

fifth_sixth

['C00006', 'C00007']

2. Contains every third customer in the list (1st, 4th, 7th, and so on)

In [12]:
every_third = customer_list[::3]

every_third

['C00001', 'C00005', 'C000018', 'C000014', 'C000029']

3. Contains the last two customers within the company's dataset

In [16]:
last_two = customer_list[-2:]

last_two

['C000016', 'C000029']