# <b>Customer C00010 Transactions</b>

1. Calculate the average value of a transaction
2. Report how many transactions C00010 made
3. Look up the value of their first transaction
4. Compare it to the average value
5. Print a list sorted by IDs (no permanent changes needed)

In [5]:
customer_ids = ['C00004', 'C00007', 'C00015', 'C00016', 'C00020',
                'C00010', 'C00006', 'C00001' ,'C00003' ,'C00014',
                'C00001', 'C00001', 'C00005', 'C00008', 'C00013',
                'C00004', 'C00017', 'C00019', 'C00002', 'C00008',
                'C00021', 'C00022', 'C00006', 'C00018', 'C00018',
                'C00010', 'C00016']

subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94,
             99.99, 254.95, 29.98, 99.99, 25.98, 649.98, 89.99, 119.99,
             599.99, 649.98, 24.99, 99.99, 99.99, 5.99, 24.99, 999.96,
             99.99, 399.97, 89.99]

### <b>Calculate the average transaction</b>

Calculate the average value of the transactions in the list `subtotals`

In [7]:
sum(subtotals) / len(subtotals)

323.3877777777776

### <b>Customer Deep Dive</b>

How many transactions did customer C00010 make?

In [8]:
customer_ids.count('C00010')

2

What is the index of customer C00010's first transaction

In [9]:
customer_ids.index('C00010')

5

What is the revenue of C00010's first transaction

I will need to index `subtotals` using the index returned in the last question

In [12]:
subtotals[5]

599.99

### <b>Print a sorted list of customer IDs</b>

The company would like to see if any of their loyal customers didn't make a purchase

In [14]:
sorted(customer_ids)

['C00001',
 'C00001',
 'C00001',
 'C00002',
 'C00003',
 'C00004',
 'C00004',
 'C00005',
 'C00006',
 'C00006',
 'C00007',
 'C00008',
 'C00008',
 'C00010',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00016',
 'C00017',
 'C00018',
 'C00018',
 'C00019',
 'C00020',
 'C00021',
 'C00022']