# <b>New European Dictionary</b>

In [1]:
item_ids = [10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009]

item_names = [
    "Coffee",
    "Beanie",
    "Gloves",
    "Sweatshirt",
    "Helmet",
    "Snow Pants",
    "Cost",
    "Ski Poles",
    "Ski Boots"
]

euro_prices = [5.27, 8.79, 17.59, 21.99, 87.99, 70.39, 105.99, 87.99, 175.99]

item_category = [
    "beverage",
    "clothing",
    "clothing",
    "clothing",
    "saftey",
    "clothing",
    "clothing",
    "hardware",
    "hardware",
]

sizes = [
    ["250mL"],
    ["Child", "Adult"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["S", "M", "L"],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["S", "M", "L"],
    ["NA"],
    ["S", "M", "L", "Powder"]
]

In [11]:
euro_data = {
    item_id: {"name": name, "price": price, "category": category, "sizes": sizes}
    for item_id, name, price, category, sizes in zip(
        item_ids, item_names, euro_prices, item_category, sizes
    )
}

In [12]:
euro_data

{10001: {'name': 'Coffee',
  'price': 5.27,
  'category': 'beverage',
  'sizes': ['250mL']},
 10002: {'name': 'Beanie',
  'price': 8.79,
  'category': 'clothing',
  'sizes': ['Child', 'Adult']},
 10003: {'name': 'Gloves',
  'price': 17.59,
  'category': 'clothing',
  'sizes': ['Child', 'Adult']},
 10004: {'name': 'Sweatshirt',
  'price': 21.99,
  'category': 'clothing',
  'sizes': ['XS', 'S', 'M', 'L', 'XL', 'XXL']},
 10005: {'name': 'Helmet',
  'price': 87.99,
  'category': 'saftey',
  'sizes': ['Child', 'Adult']},
 10006: {'name': 'Snow Pants',
  'price': 70.39,
  'category': 'clothing',
  'sizes': ['XS', 'S', 'M', 'L', 'XL', 'XXL']},
 10007: {'name': 'Cost',
  'price': 105.99,
  'category': 'clothing',
  'sizes': ['S', 'M', 'L']},
 10008: {'name': 'Ski Poles',
  'price': 87.99,
  'category': 'hardware',
  'sizes': ['S', 'M', 'L']},
 10009: {'name': 'Ski Boots',
  'price': 175.99,
  'category': 'hardware',
  'sizes': [5, 6, 7, 8, 9, 10, 11]}}

## <b>Lookup Data</b>

Check the price fo item 10009

In [16]:
euro_data[10009]

{'name': 'Ski Boots',
 'price': 175.99,
 'category': 'hardware',
 'sizes': [5, 6, 7, 8, 9, 10, 11]}

## <b>European Sizes</b>

Change the size for boots(item 10009) to European shoe sizing

The European sizes are in a list below

In [20]:
boot_sizes = [37, 38, 39.5, 40.5, 41.5, 43.5, 46.5]

for size in euro_data.values():
    if size['name'] == 'Ski Boots':
        euro_data[10009]['sizes'] = boot_sizes

euro_data[10009]

{'name': 'Ski Boots',
 'price': 175.99,
 'category': 'hardware',
 'sizes': [37, 38, 39.5, 40.5, 41.5, 43.5, 46.5]}

## <b>Size Dictionary</b>

Create a dictionary with item names as keys, and sizes(I will need to keep them in a list) as the values.

In [64]:
product_sizes = {}

for item in euro_data.values():
    product_sizes[item['name']] = item['sizes']

product_sizes

{'Coffee': ['250mL'],
 'Beanie': ['Child', 'Adult'],
 'Gloves': ['Child', 'Adult'],
 'Sweatshirt': ['XS', 'S', 'M', 'L', 'XL', 'XXL'],
 'Helmet': ['Child', 'Adult'],
 'Snow Pants': ['XS', 'S', 'M', 'L', 'XL', 'XXL'],
 'Cost': ['S', 'M', 'L'],
 'Ski Poles': ['S', 'M', 'L'],
 'Ski Boots': [37, 38, 39.5, 40.5, 41.5, 43.5, 46.5]}