# <b>Customers with Muliple Orders</b>

- Create a list with these 5 lists as elements
- Print the second and third orders for the customer that made three total orders
- Create a copy of this list and change the transaction values for C00004(friend of owner) to 0.0 - without changing the original

In [2]:
orders_c00001 = [1799.94, 29.98, 99.99]
orders_c00004 = [15.98, 119.98]
orders_c00006 = [24.98, 24.99]
orders_c00008 = [649.99, 99.99]
orders_c00010 = [599.99, 399.97]

### <b>VIP List</b>

Create a list with all 5 orders combined into one list

In [3]:
vip_list = [orders_c00001, orders_c00004, orders_c00006, orders_c00008, orders_c00010]

vip_list

[[1799.94, 29.98, 99.99],
 [15.98, 119.98],
 [24.98, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

### <b>Last two orders</b>

Get the secon and third orders from the customer with three total orders

In [4]:
vip_list[0][-2:]

[29.98, 99.99]

### <b>Transaction Changes</b>

Make a copy of the list then change the values for customer C00004 to 0.0

In [5]:
from copy import deepcopy

In [6]:
revenue_adjusted_list = deepcopy(vip_list)

revenue_adjusted_list

[[1799.94, 29.98, 99.99],
 [15.98, 119.98],
 [24.98, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

In [7]:
revenue_adjusted_list[1] = [0.0,0.0]

revenue_adjusted_list

[[1799.94, 29.98, 99.99],
 [0.0, 0.0],
 [24.98, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

In [8]:
vip_list

[[1799.94, 29.98, 99.99],
 [15.98, 119.98],
 [24.98, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

# <b>Sales Tax</b>

I will need to calculate the sales taxes for the company's customer that made three transactions

The customer that made three transactions was customer C00001

In [45]:
transaction1, transaction2, transaction3 = tuple(vip_list[0])

In [46]:
transaction1

1799.94

In [47]:
transaction2

29.98

In [48]:
transaction3

99.99

In [49]:
print(round(transaction1 * 0.08, 2))
print(round(transaction2 * 0.08, 2))
print(round(transaction3 * 0.08, 2))

144.0
2.4
8.0