# <b>Customers with Muliple Orders</b>

- Create a list with these 5 lists as elements
- Print the second and third orders for the customer that made three total orders
- Create a copy of this list and change the transaction values for C00004(friend of owner) to 0.0 - without changing the original

In [1]:
orders_c00001 = [1799.94, 29.98, 99.99]
orders_c00004 = [15.98, 119.98]
orders_c00006 = [24.98, 24.99]
orders_c00008 = [649.99, 99.99]
orders_c00010 = [599.99, 399.97]

### <b>VIP List</b>

Create a list with all 5 orders combined into one list

In [4]:
vip_list = [orders_c00001, orders_c00004, orders_c00006, orders_c00008, orders_c00010]

vip_list

[[1799.94, 29.98, 99.99],
 [15.98, 119.98],
 [24.98, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

### <b>Last two orders</b>

Get the secon and third orders from the customer with three total orders

In [7]:
vip_list[0][-2:]

[29.98, 99.99]

### <b>Transaction Changes</b>

Make a copy of the list then change the values for customer C00004 to 0.0

In [8]:
from copy import deepcopy

In [31]:
revenue_adjusted_list = deepcopy(vip_list)

revenue_adjusted_list

[[1799.94, 29.98, 99.99],
 [15.98, 119.98],
 [24.98, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

In [33]:
revenue_adjusted_list[1] = [0.0,0.0]

revenue_adjusted_list

[[1799.94, 29.98, 99.99],
 [0.0, 0.0],
 [24.98, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

In [21]:
vip_list

[[1799.94, 29.98, 99.99],
 [15.98, 119.98],
 [24.98, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]