# <b>Sales Tax By State</b>

The company forgot to account the fact that different states have different tax rates.

There is a list containing the location of each purchase. The transaction `subtotal()` took place at `locations()`.

In [99]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94, 99.99]

location = ['Sun Valley', 'Stowe', 'Mammoth', 'Stowe', 'Sun Valley', 'Mammoth', 'Mammoth', 'Mammoth', 'Sun Valley']

The following tax rates should be applied for each location:

- Sun Valley: 8%
- Stowe: 6%
- Mammoth: 7.75%

In [102]:
taxes = []
totals = []

for i, subtotal in enumerate(subtotals):
  if location[i] == 'Sun Valley':
    tax = round(subtotal * .08, 2)
  elif location[i] == 'Stowe':
    tax = round(subtotal * .06, 2)
  else:
    tax = round(subtotal * .0775, 2)
  total = round(subtotal + tax, 2)
  taxes.append(tax)
  totals.append(total)

print(taxes)
print(totals)

[1.28, 54.0, 62.0, 7.08, 0.48, 46.5, 1.94, 139.5, 8.0]
[17.26, 953.97, 861.97, 125.04, 6.47, 646.49, 26.93, 1939.44, 107.99]