# <b>Chapter 1: Introduction to Python (Basics)</b>

![My Image](https://download.logo.wine/logo/Python_(programming_language)/Python_(programming_language)-Logo.wine.png)

Python is a:

- General purpose programming language
- Interpreted, not compiled
- Both dynamically typed and strongly typed
- Supports multiple programming paradigms, object orientd, functional
- Comes in 2 main versions in use today - 2.7 and 3.x

## <b>Python's Interactive Console: The Interpreter</b>

- The Python interpreter is a console that allows interactive development

#### <b>Let's try it out</b>

In [ ]:
print("Hello World") # As usual with any language we start with the print function

In [42]:
print("Hello my name is Chaanyah Laborde")

Hello my name is Chaanyah Laborde

# <b>Python Basics</b>

- Basic data types
- Variables and Scoping
- Modules, Packages and the ```import``` statement
- Operators

<br>
<br>

<center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/172px-Python-logo-notext.svg.png"/></center>

<br>
<br>

## <b>Strings</b>

String are used in Python to record text information, such as name. Strings in Python are actually a sequence, which basically measn Python keeps track of every element in the string as a sequence. For example, Python understands the string "Python" to be a sequence of letters in a specific order. This means we will be able to use indexing to rab particular letters(like the first letter, or the last letter).

<br>

<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNNrs1wRyTBMmCf05LAdOyW1g7Zi2ov8w6rx9EW6D5YJk1uHuC6a0ueEWTdkQ0IJQWzwA&usqp=CAU" /></center>

<br>

## <b>Creating a String</b>

To create a string in Python you need to use either single quotes or double quotes. For example:

In [ ]:
# Single word
print('Hello')

print() # Used to have a line space between two sentences.

# Single Sentence
print('I am a Azure Data Engineer')

In [ ]:
# Print using double quotations
print("Chaanyah Laborde")

# <b>Variables</b>

Variables can be extremely useful in many cases, where you can call the variable instead of typing the sting everytime. This not only makes our code clean, but it also makes it less redundant. Example syntax to assign a value or expression to a variable,

```variable_name = value or expression```

<br>
<br>

<center><img src="https://www.datamentor.io/sites/tutorial2program/files/assign-value-to-variable.png" /></center>

## <b>String Indexing</b>

We know strings are a sequence, which means Python can use indexes to call parts of the sequence.

<br>

<center><img src="" height="300" width="500"/></center>

<br>

In Python, we use brackets ```[]``` after an object to call its index. We should also note that indexing starts at 0 for Python.

In [ ]:
# Assing s as a string
s = "Hello World"

In [ ]:
print(s[0])

In [ ]:
# Print the object
print(s)

print() # Line space

# Show first element (in this case a letter or character)
print(s[0])

print() # Line space

# Show the second element (also a letter or character)
print(s[1])

print() # Line space

# Show the first letter "l" from the object
print(s[2])

print() # Line space

# Show the letter "d" from the object
print(s[10])

# <b>String Concatenation and Repetition</b>

String Concatenation is a process to combine two strings. it is done using the ```+``` operator

<br>

<center><img src="https://media.geeksforgeeks.org/wp-content/uploads/20230915112055/StringConcatenation-(1)-(1).png" width="450"/></center>

<br>

String Repetition is a process of repeating a same string multiple times

In [ ]:
# Concatenation (addition)

s1 = "Hello"
s2 = "World"

print(s1 + ' ' + s2) # The single quotation marks creates space for the strings

In [ ]:
# Repetition (multiplication)

print("Hello_" * 5)

print()

print("-" * 10)

In [ ]:
# Print Data 16 times

print("Data " * 16)

In [ ]:
# or

s3 = "Data "

print(s3 * 16)

# <b>String Slicing & Indexing</b>

String Indexing is used to select the letter at a particlar index/position.

<br>

<center><img src="https://www.scientecheasy.com/wp-content/uploads/2023/01/python-string-slicing.png" /></center>

In [ ]:
a = "Chaanyah Laborde"

# Print sub strings
print(a[1])   # This is indexing
print(a[0:8]) # This is known as slicing
print(a[9:16])
print(a[-5])

# Test substring membership
print("C" in a)

# <b>Basic Built-in String methods</b>

Objects in Python usually have built-in methods. These methods are functions inside the object

We call methods with a period and then the method name. Methods are in the form:

```object.method(parameters)```

Where parameters are extra arguments we can pass into the method.

In [ ]:
s = "Hello World"

print(s.upper()) ## Converts all of the elements of the string to be UPPER cased
print(s.lower()) ## Converts all of the elements of the string to be lower cased

In [ ]:
print(type(s))

# <b>Print Formatting</b>

We can use the ```.format()``` method to add formatted objects to printed string statements

In [ ]:
name = "Chaanyah"
age = 24
married = False

print("My name is %s, my age is %s, and it is %s that I am married" % (name, age, married))
print("My name is {}, my age is {}, and it is {} that I am married".format(name, age, married))
print(f"My name is {name}, my age is {age}, and it is {married} that I am married")