# <b>Black Friday Customers</b>

- Return 99.99 if customer C00009 made a purchase, otherwise return 0.0
- Create seperate lists for the 5th adn 6th custoemr, every third customer, and the last 2 customers, we're conducting market research

### <b>List of customers that made purchases on Black Friday</b>

The customers that made purchases on Black Friday were:

C00001, C00003, C00004, C00005, C00006, C00007, C00018, C00010, C00013, C00014, C00015, C00016, C00029

In [24]:
customer_list = [
                 'C00001', 'C00003', 'C00004', 'C00005', 'C00006',
                 'C00007', 'C00018', 'C00010', 'C00013', 'C00014',
                 'C00015', 'C00016', 'C00029'
                ]

In [25]:
customer_list

['C00001',
 'C00003',
 'C00004',
 'C00005',
 'C00006',
 'C00007',
 'C00018',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00029']

### <b>Did C00009 make a purchase</b>

This customer said they made a purchase we're not seeing it inour data. If they did, we need to record the revenue.

In [26]:
('C00009' in customer_list) * 99.99

0.0

### <b>Market Research Samples</b>

1. Contain the fifth and sixth customer and name the list `fifth_sixth`

In [27]:
# fifth_sixth = [customer_list[4], customer_list[5]]

# or

fifth_sixth = customer_list[4:6]

fifth_sixth

['C00006', 'C00007']

2. Contains every third customer in the list (1st, 4th, 7th, and so on)

In [28]:
every_third = customer_list[::3]

every_third

['C00001', 'C00005', 'C00018', 'C00014', 'C00029']

3. Contains the last two customers within the company's dataset

In [29]:
last_two = customer_list[-2:]

last_two

['C00016', 'C00029']

## <b>Adding Customers</b>

The company was able to find the receipt for customer C00009 in the warehouse, I will need to add that customer into the list

In [31]:
customer_list.append('C00009')

In [32]:
customer_list

['C00001',
 'C00003',
 'C00004',
 'C00005',
 'C00006',
 'C00007',
 'C00018',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00029',
 'C00009']

The company has also decided to extend the sale through Saturday due to high volume

I will need to make a Saturday list then add the orignal list of customers to that list

In [39]:
new_customers_list = ['C00004', 'C00017', 'C00019', 'C00002', 'C00008', 'C00021', 'C00022']

In [40]:
saturday_list = customer_list + new_customers_list


saturday_list

['C00001',
 'C00003',
 'C00004',
 'C00005',
 'C00006',
 'C00007',
 'C00018',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00029',
 'C00009',
 'C00004',
 'C00017',
 'C00019',
 'C00002',
 'C00008',
 'C00021',
 'C00022']

## <b>Change of Plan</b>

- The company has decided to keep the Friday and Saturday sales separate for now.
- Also, customer C00004 is a friend of the owner and should not be counted in the Black Friday sales.

### <b>Removing Saturday's customers</b>

In [44]:
del saturday_list[14:]

In [45]:
saturday_list

['C00001',
 'C00003',
 'C00004',
 'C00005',
 'C00006',
 'C00007',
 'C00018',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00029',
 'C00009']

### <b>Removing customer C00004</b>

In [46]:
customer_list.remove('C00004')

In [47]:
customer_list

['C00001',
 'C00003',
 'C00005',
 'C00006',
 'C00007',
 'C00018',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00029',
 'C00009']