# <b>Lists</b>

Lists can be thouhg of the most general version of a sequence in Python

<br>

<center><img src="https://pynative.com/wp-content/uploads/2021/03/python-list.jpg" /></center>

<br>

Lists are constructed with brackets ```[]``` and commas seperating every element in the list

In [2]:
# Assign a list to an variable named my_list

my_list = [1, 2, 3]

In [3]:
print(my_list)

[1, 2, 3]

We just created a list of integers, but lists cam actually hold different object types.

In [4]:
my_list = [1, 2, 3, 4, 5, 6, 7]

In [5]:
print(my_list)
print(my_list[2])

[1, 2, 3, 4, 5, 6, 7]
3

Just like strings, the ```len()``` function will tell you how many items are in the sequence of the list

In [6]:
len(my_list)

7

In [7]:
# Assign numbers, strings, floating points and a characters inside of a list called "diff_lists"

diff_lists = [1, "Chaanyah", 33.45, 'Y', 7, "Derrick", 4, 12.090]

print(diff_lists)

[1, 'Chaanyah', 33.45, 'Y', 7, 'Derrick', 4, 12.09]

## <b>Adding New Elements to a list</b>

We use special commands to add new elements to a list.

In [8]:
my_list = ['one', 'two', 'three', 4.5]

In [9]:
my_list

['one', 'two', 'three', 4.5]

In [11]:
# Append a value to the end of the list
my_list.append(3.1)

print(my_list)

['one', 'two', 'three', 4.5, 3.1, 3.1]

In [16]:
l = [1, 2, 3, ['a', 'b', 'c'], 44.321, "Chaanyah", 200]
print(l)

print()

l.append("six")
print(l)

[1, 2, 3, ['a', 'b', 'c'], 44.321, 'Chaanyah', 200]

[1, 2, 3, ['a', 'b', 'c'], 44.321, 'Chaanyah', 200, 'six']

In [19]:
# Extend a list with another list
l = [1, 2, 3]
print(l)

print() # Line Break

l.extend([4, 5, 6])
print(l)

print() # Line Break

l.extend([76, "Chaanyah", 12.23])
print(l)

[1, 2, 3]

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6, 76, 'Chaanyah', 12.23]

## <b>Slicing</b>

Slicing is used to access individual elements or a range of elements in a list

Python supports "slicing" indexable seqences. The syntax for slicing lists is:

- `list_object[start:end:step] or`
- `list_object[start:end]`

"start" and "end" are indices(start inclusive, end exclusive). All slicing values are optional.

In [25]:
# Get a range of 10 numbers starting from 0
l = list(range(10))

In [26]:
# print the results
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
# Get the a specific element
l[2]

2

In [28]:
# Start from the number 5 then end at the last number
l[5:10] # list_of_object[start:end]

[5, 6, 7, 8, 9]

In [30]:
# Count only even numbers and starting from the very beginning on the list
l[0:10:2]

[0, 2, 4, 6, 8]

In [40]:
lst = list(range(10)) # Create a list with a range of 10 numbers
lst

print()

print("Elements starting from 2 to 7: ", lst[1:7])
print("Alternate elements, starting from index 0", lst[0::2]) # Print every second element starting from the index of 0
print("Alternate elements, starting from index 1", lst[1::3]) # Print every third element starting from the index of 1

Elements starting from 2 to 7:  [1, 2, 3, 4, 5, 6]
Alternate elements, starting from index 0 [0, 2, 4, 6, 8]
Alternate elements, starting from index 1 [1, 4, 7]

### <b> Other List Operations</b>

- `.append`: add element to end of list
- `.insert`: insert element at given index
- `.extend`: extend one list with another list

In [41]:
chaan_list = [1, 2.3, ['a', 'b'], 'New York']

In [45]:
# Print the last element of the list
chaan_list[3]

'New York'

In [46]:
# Print the first index of the list
chaan_list[0]

1

In [49]:
# Print the second element which is the list, and get the first element within that list
chaan_list[2][0]

'a'

In [69]:
# Add another element in the list
chaan_list.append([0, 1, 2, 3, 4, 5, 6, 7])

In [73]:
# Get the last element in the list contained in the chaan_list
print(chaan_list) # Print the list

print()

print(len(chaan_list)) # Get the length of the list

print()

print(chaan_list[4]) # Get the forth element contained in the list

print()

print(len(chaan_list[4])) # Get the length of the 4 element, which is the list

print()

chaan_list[4][7] # Get the last element contained in the forth element

[1, 2.3, ['a', 'b'], 'New York', [0, 1, 2, 3, 4, 5, 6, 7]]

5

[0, 1, 2, 3, 4, 5, 6, 7]

8

7

In [68]:
# Remove the list within the list
chaan_list.remove([0, 1, 2, 3, 4, 5, 6, 7])

print(chaan_list)

[1, 2.3, ['a', 'b'], 'New York']