# <b>Set and Booleans</b>

## <b>Sets</b>

Sets are unordered collection of unique elements. We can construct them by using the `set()` function

In [2]:
dup_list = [1,1,1,1,1,1,1,1,2,3,3,3,3,2,2,2,2,4,5,6,7,7,7]

In [3]:
dup_list

[1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 3, 3, 2, 2, 2, 2, 4, 5, 6, 7, 7, 7]

In [5]:
l_sets = set(dup_list)

l_sets

{1, 2, 3, 4, 5, 6, 7}

In [10]:
# Assign a variable to a set
x = set()

# Use .add to sets to add an element
x.add(1)

# Show the results
print(x)

{1}

In [8]:
type(x)

set

In [12]:
# Add a different element
x.add(2)

# Show results
print(x)

{1, 2}

In [13]:
# Remove a value from the set
x.remove(2)

# Show results
print(x)

{1}