# <b>Python Tuples</b>

Tuples are used to store multiple items in a single variable

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualitites and usage

A tuple is a collection which is ordered and unchangeable

Tuples are written with parentheses

In [1]:
tup = ("apple", "orange", "cherry")
print(tup)

('apple', 'orange', 'cherry')

Tuple items are ordered, unchangeable, and allow duplicate values

Tuple items are indexed, the first item has a index of 0, the second has an index of 1, etc

In [2]:
tup = ("apple", "orange", "cherry", "banana", "apple", "cherry")
print(tup)

('apple', 'orange', 'cherry', 'banana', 'apple', 'cherry')