# <b>Types of Numbers</b>

Python has various "types" of numbres(numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For Example: `2` and `-2` are examples of integers

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. `-2.1` are examples of floating point numbers. `4E2`(4 times 10 to the power of 2) is also an example of a floating point number in Python.

## <b>Basic Arithmetic</b>

In [6]:
# Addition
print(2 + 1)

# Subtraction
print(2 - 1)

# Multiplication
print(2 * 10)

# Division
print(10 / 5)

print()

print(type(2 + 1))
print(type(2 - 1))
print(type(2 * 10))
print(type(10 / 5))

3
1
20
2.0

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

## <b>Arithmetic Continued</b>

In [7]:
# Powers
2 ** 4

16

In [8]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [9]:
# Can use parethesis tp specify orders
(2 + 10) * (10 + 3)

156

In [10]:
# Multiply 15 by 2 and add 10 to it
15 * 2 + 10

40

# <b>Variables Assignments</b>

In order to create a variable, you will need to use the single equals sign `=` to assign labels to variables.

The names you use when creating these labels need to follow a few rules:

1. Names can not start with a number
2. There can be no spaces in the name, use `_` instead
3. Can't use any of these symbols: `'`, `"`, `<>`, `/`, `?`, `|`, `\`, `()`, `!`, `@`, `#`, `$`, `%`, `^`, `&`, `*`, `-`, `~`, `+`

Using variable names can be a very useful way to keep track of different variables in Python

In [11]:
# Let's create an object called "a" and assign it the number 5
a = 5

Now if I call <i>a</i> in my Python script, Python will treat it as the number 5

In [13]:
# Adding objects
a + a

10

What happens on reassignment? Will Python let us write it over?

In [14]:
# Reassignment
a = 10

In [15]:
a

10

In [16]:
# Check the reults
a + a

20

In [17]:
# Example of assigning more variables
a = 25
b = 30
mean = a + b

In [18]:
print(mean)

55